<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <div class="brand-header">
        <span class="brand-icon">🌍</span>
        <h3>LanguageDetect</h3>
      </div>

      <p>
        AI-powered multilingual language detection,
        confidence scoring and detailed language analysis.
      </p>
    </div>

    <div class="footer-links">
      <h4>Navigation</h4>

      <a routerLink="/">Home</a>
      <a routerLink="/analysis">Analyze</a>
      <a routerLink="/history">History</a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 LanguageDetect.</p>
  </div>
</footer>