# ==============================
# GENERAL
# ==============================
.DS_Store
*.log
.env

# ==============================
# .NET BACKEND (api/)
# ==============================
api/**/bin/
api/**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

# SQLite DB
*.db
*.db-shm
*.db-wal

# VS Code
.vscode/

# ==============================
# ANGULAR FRONTEND (ui/)
# ==============================
ui/**/node_modules/
ui/**/dist/
ui/**/.angular/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# OPTIONAL (coverage / temp)
# ==============================
coverage/