<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a routerLink="/" class="navbar-logo">
      <span class="logo-icon">🌍</span>
      <span class="logo-text">
        LangDetect
      </span>
    </a>

    <div class="nav-links">
      <a 
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">
        Home
      </a>
      <a 
        routerLink="/analysis"
        routerLinkActive="active"
        class="nav-link">
        Analysis
      </a>
      <a 
        routerLink="/history"
        routerLinkActive="active"
        class="nav-link">
        History
      </a>
    </div>

    <div class="auth-buttons">
      @if(!currentUser()){
        <a 
          routerLink="/auth/login"
          class="btn-signin">
          Sign In
        </a>

        <a 
          routerLink="/auth/register"
          class="btn-primary">
          Sign Up
        </a>
      }
      @else {
        <div class="user-profile">
          <div class="avatar">
            {{ getInitials(currentUser()?.username) }}
          </div>
          <span class="username">
            {{ currentUser()?.username }}
          </span>
        </div>
        <button
          class="btn-logout"
          (click)="logout()">
          Logout
        </button>
      }
    </div>
  </div>
</nav>